<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.henriksineksamen.wikilocal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"
    />

    <uses-feature
            android:name="android.hardware.sensor.accelerometer"
            android:required="true"
    />

    <application
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:supportsRtl="true"
            android:theme="@style/MyMaterialTheme"
            tools:ignore="GoogleAppIndexingWarning">

            <provider
                    android:name="androidx.core.content.FileProvider"
                    android:authorities="com.mydomain.fileprovider"
                    android:exported="false"
                    android:grantUriPermissions="true">
                <meta-data
                        android:name="android.support.FILE_PROVIDER_PATHS"
                        android:resource="@xml/file_paths"
                />
            </provider>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"
        />
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-9638675442193636~7851936375"
        />

        <!-- FIRST ACTIVITY -->
        <activity
                android:name=".controller.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="shake.detector"/>
            </intent-filter>
        </activity>

        <!-- DISPLAY ARTICLE ACTIVITY-->
        <activity
                android:name=".controller.ArticleActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>